
ul {
    list-style: none;
}

input{
    font-size: 1.2rem;
    padding: 0.5em 1em;
}

.weak{
    color: red;
}

.medium{
    color: orange;
}

.strong{
    color: green;
}
#show-password{
    margin: 0% 20%; 
   background-color: transparent;
    align-self: flex-end;
  }