.navlink {
  background: rgba(0, 243, 255, 0.03); /* Ganz zarter Cyan-Schimmer */
  width: 85%;
  text-align: center;
  border: 1px solid rgba(0, 243, 255, 0.3); /* Transparente Akzentfarbe */
  padding: 0.6rem 1rem;
  border-radius: 6px;
  color: var(--color-lab-accent); /* Text in Cyan */
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navlink:hover,
.active {
  width: 85%;
  text-align: center;
  background: rgba(0, 243, 255, 0.1);
  border: 1px solid rgba(0, 243, 255, 0.3); /* Transparente Akzentfarbe */
  border-radius: 6px;
  padding: 0.6rem 1rem;
  color: var(--color-lab-text-bright);
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow:
    0 0 15px rgba(0, 243, 255, 0.2),
    inset 0 0 10px rgba(0, 243, 255, 0.1);
  text-shadow: 0 0 8px rgba(0, 243, 255, 0.8);
}

.navlink::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(0, 243, 255, 0.2),
    transparent
  );
  transition: 0.5s;
}

.navlink:hover::before {
  left: 100%;
}
