.control {
  margin-bottom: 1rem;
}

.control.no-margin {
  margin-bottom: 0;
}

.control label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  color: var(--color-lab-text-main);
}

.control input {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 7px;
  border: 1px solid var(--color-lab-accent);
  background-color: var(--color-lab-surface);
}

.control select {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid var(--color-lab-accent);
  background-color: var(--color-lab-surface);
  color: var(--color-lab-text-main);
}

.control:has(input[type="checkbox"]) {
  display: flex;
  align-items: center;
}

.control:has(input[type="checkbox"]) label {
  margin: 0;
}

.control input[type="checkbox"] {
  display: inline-block;
  width: auto;
  max-width: none;
  margin-right: 0.5rem;
  border-radius: 0;
  border: none;
  background-color: transparent;
}

.control-error {
  color: #ffca99;
  font-size: 0.8rem;
  height: 2rem;
  padding: 0.5rem 0;
}

.control-error p {
  margin: 0;
}

.control-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.errors {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 200;
  color: rgb(255, 201, 131);
}