.labContainer{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    'sidebar title'
    'sidebar main';
}

.labContainer main{
    grid-area: main;
    align-self: center;
}

.title{
    grid-area: title;
}

.sidebar{
    grid-area: sidebar;
}