.rootLayout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto auto;
  grid-template-areas:
    "header nav"
    "main main"
    "footer footer";
}

/*.rootLayout .navbar {
  grid-area: navbar;
}*/

.rootLayout .header{
  grid-area: header;
}

.rootLayout .nav{
  grid-area: nav;
}

.rootLayout main {
  grid-area: main;
  justify-self: center;
  place-items: center;
}

.rootLayout footer {
  grid-area: footer;
  justify-self: center;
}
